@import components/mixins
@import components/var

*
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 0.7px
    scroll-behavior: smooth
    +media(1250)
        font-size: 1px
    +media(1600)
        font-size: 1.2px

body
    font-size: 20rem
    font-weight: 500
    font-family: Montserrat

h2
    font-size: 36px
    font-weight: 600
    text-transform: uppercase

ul
    list-style: none

a
    transition: all .5s ease
    text-decoration: none

input,
textarea
    appearance: none
    width: 100%
    outline: none

textarea
    resize: vertical

.wrapper
    width: 95%
    margin: 0 auto
    padding: 0 15rem
    +media(768)
        width: 90%
        
.text_center
    text-align: center

.pos-r
    position: relative

.flex
    display: flex
    gap: 20rem

.flex-between
    display: flex
    gap: 20rem
    justify-content: space-between

.grid
    display: grid
    gap: 20rem

.items-center
    align-items: center

img
    width: 100%
    height: 100%
    object-fit: cover
    object-position: center

.dark_bg
    color: $white
    background-color: $black

.dark-bgc 
    display: none
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, 0.3)
    backdrop-filter: blur(4px)
    z-index: 3
.gallery 
    min-height: 80vh
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: auto

.item 
    background-color: #ccc
    border: 1px solid #000


.large 
    grid-column: span 3
    grid-row: span 1


.medium 
    grid-column: span 1
    grid-row: span 2


.small 
    grid-column: span 1
    grid-row: span 1

@import components/footer
