header
    .header
        .wrapper.flex-between.items-center
            .dark-bgc
            .dark-shema
            .dark-bgc-popup
            .dark-succes
            .logo 
                a(href="index.html")
                    img(src="img/logo.svg", alt="") 
            
            nav.nav 
                .logo_mobile
                    a(href="index.html")
                        img(src="img/logo.svg", alt="") 
                    a.cancel(href="#")
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                            <path d="M1 15L14.7071 1M15 15L1.29291 1" stroke="#121212" stroke-width="2" stroke-linecap="round"/>
                        </svg>
                ul.menu.items-center
                    li 
                        a(href="#about") про виставку
                    li 
                        a(href="#participant") учасникам
                    li 
                        a(href="#galery") галерея
                    li 
                        a(href="#question") часті питання
                    li 
                        a(href="#").shema план-схема
                    li 
                        a(href="#contacts") контакти
                .cta_container.items-center 
                    a.cta.blue_cta(href="#").customers забронювати стенд
                    a.cta.border_cta(href="").visitors відвідати виставку
                .dark_bg.mobile_contacts_menu
                    p.date.flex.items-center 
                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 30 31" fill="none">
                            <path d="M10 3V6.75" stroke="#69BFE7" stroke-width="2.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M20 3V6.75" stroke="#69BFE7" stroke-width="2.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M4.375 11.8625H25.625" stroke="#69BFE7" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M26.25 11.125V21.75C26.25 25.5 24.375 28 20 28H10C5.625 28 3.75 25.5 3.75 21.75V11.125C3.75 7.375 5.625 4.875 10 4.875H20C24.375 4.875 26.25 7.375 26.25 11.125Z" stroke="#69BFE7" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M19.6184 17.625H19.6296" stroke="#69BFE7" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M19.6184 21.375H19.6296" stroke="#69BFE7" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M14.9944 17.625H15.0056" stroke="#69BFE7" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M14.9944 21.375H15.0056" stroke="#69BFE7" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M10.3679 17.625H10.3791" stroke="#69BFE7" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M10.3679 21.375H10.3791" stroke="#69BFE7" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        span 23-25 липня 2025
                    p.flex.items-center.adress 
                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 30 30" fill="none">
                            <path d="M15 16.7875C17.1539 16.7875 18.9 15.0414 18.9 12.8875C18.9 10.7336 17.1539 8.98749 15 8.98749C12.8461 8.98749 11.1 10.7336 11.1 12.8875C11.1 15.0414 12.8461 16.7875 15 16.7875Z" stroke="#69BFE7" stroke-width="2.5"/>
                            <path d="M4.525 10.6125C6.9875 -0.212498 23.025 -0.199997 25.475 10.625C26.9125 16.975 22.9625 22.35 19.5 25.675C16.0375 29 14.4563 29.5 10.4875 25.675C7.0375 22.35 3.0875 16.9625 4.525 10.6125Z" stroke="#69BFE7" stroke-width="2.5"/>
                        </svg>
                        span Львів, "Арена Львів",
                            br 
                            | вул. Стрийська, 199
                    a(href="tel:+380930300707").flex.items-center
                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
                            <path d="M16 13.2475C16 13.5175 15.9399 13.795 15.8122 14.065C15.6845 14.335 15.5193 14.59 15.3015 14.83C14.9334 15.235 14.5278 15.5275 14.0696 15.715C13.6189 15.9025 13.1307 16 12.6049 16C11.8388 16 11.02 15.82 10.1562 15.4525C9.29244 15.085 8.42864 14.59 7.57236 13.9675C6.70856 13.3375 5.88983 12.64 5.10866 11.8675C4.335 11.0875 3.63645 10.27 3.01302 9.415C2.3971 8.56 1.90135 7.705 1.54081 6.8575C1.18027 6.0025 1 5.185 1 4.405C1 3.895 1.09014 3.4075 1.27041 2.9575C1.45068 2.5 1.7361 2.08 2.1342 1.705C2.61492 1.2325 3.14071 1 3.69654 1C3.90686 1 4.11718 1.045 4.30496 1.135C4.50025 1.225 4.67301 1.36 4.80821 1.555L6.55083 4.0075C6.68603 4.195 6.78368 4.3675 6.85128 4.5325C6.91888 4.69 6.95644 4.8475 6.95644 4.99C6.95644 5.17 6.90386 5.35 6.7987 5.5225C6.70105 5.695 6.55834 5.875 6.37807 6.055L5.80721 6.6475C5.72459 6.73 5.68703 6.8275 5.68703 6.9475C5.68703 7.0075 5.69454 7.06 5.70956 7.12C5.7321 7.18 5.75463 7.225 5.76965 7.27C5.90486 7.5175 6.13771 7.84 6.4682 8.23C6.80621 8.62 7.16675 9.0175 7.55734 9.415C7.96294 9.8125 8.35353 10.18 8.75163 10.5175C9.14221 10.8475 9.4652 11.0725 9.72058 11.2075C9.75814 11.2225 9.8032 11.245 9.85578 11.2675C9.91587 11.29 9.97596 11.2975 10.0436 11.2975C10.1713 11.2975 10.2689 11.2525 10.3515 11.17L10.9224 10.6075C11.1102 10.42 11.2904 10.2775 11.4632 10.1875C11.636 10.0825 11.8087 10.03 11.9965 10.03C12.1392 10.03 12.2894 10.06 12.4547 10.1275C12.6199 10.195 12.7927 10.2925 12.9805 10.42L15.4667 12.1825C15.662 12.3175 15.7972 12.475 15.8798 12.6625C15.9549 12.85 16 13.0375 16 13.2475Z" stroke="#69BFE7" stroke-width="1.7" stroke-miterlimit="10"/>
                        </svg>
                        | +38 093 030 07 07
                    a(href="https://www.instagram.com/uafashionexpo" target="blank").flex.items-center
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                            <path d="M7.50147 1.35085C9.50576 1.35085 9.74312 1.35964 10.5314 1.3948C11.2639 1.42704 11.6595 1.55011 11.9232 1.65267C12.2719 1.78746 12.5239 1.95155 12.7847 2.21235C13.0484 2.47607 13.2096 2.72514 13.3444 3.07384C13.447 3.33757 13.57 3.73608 13.6023 4.46572C13.6374 5.25689 13.6462 5.49424 13.6462 7.49561C13.6462 9.4999 13.6374 9.73726 13.6023 10.5255C13.57 11.2581 13.447 11.6536 13.3444 11.9174C13.2096 12.2661 13.0455 12.5181 12.7847 12.7789C12.521 13.0426 12.2719 13.2038 11.9232 13.3385C11.6595 13.4411 11.261 13.5642 10.5314 13.5964C9.74018 13.6316 9.50283 13.6404 7.50147 13.6404C5.49717 13.6404 5.25982 13.6316 4.47158 13.5964C3.73901 13.5642 3.34343 13.4411 3.0797 13.3385C2.731 13.2038 2.479 13.0397 2.21821 12.7789C1.95448 12.5151 1.79332 12.2661 1.65853 11.9174C1.55597 11.6536 1.4329 11.2551 1.40066 10.5255C1.3655 9.73432 1.35671 9.49697 1.35671 7.49561C1.35671 5.49131 1.3655 5.25396 1.40066 4.46572C1.4329 3.73315 1.55597 3.33757 1.65853 3.07384C1.79332 2.72514 1.95741 2.47314 2.21821 2.21235C2.48193 1.94862 2.731 1.78746 3.0797 1.65267C3.34343 1.55011 3.74194 1.42704 4.47158 1.3948C5.25982 1.35964 5.49717 1.35085 7.50147 1.35085ZM7.50147 0C5.46494 0 5.21 0.00879078 4.41004 0.0439539C3.61301 0.079117 3.06505 0.208048 2.59035 0.392655C2.09514 0.586052 1.67611 0.840985 1.26001 1.26001C0.840985 1.67611 0.586052 2.09514 0.392655 2.58742C0.208048 3.06505 0.079117 3.61008 0.0439539 4.40711C0.00879078 5.21 0 5.46493 0 7.50147C0 9.538 0.00879078 9.79293 0.0439539 10.5929C0.079117 11.3899 0.208048 11.9379 0.392655 12.4126C0.586052 12.9078 0.840985 13.3268 1.26001 13.7429C1.67611 14.159 2.09514 14.4169 2.58742 14.6073C3.06505 14.792 3.61008 14.9209 4.40711 14.956C5.20707 14.9912 5.462 15 7.49854 15C9.53507 15 9.79 14.9912 10.59 14.956C11.387 14.9209 11.9349 14.792 12.4097 14.6073C12.9019 14.4169 13.321 14.159 13.7371 13.7429C14.1532 13.3268 14.411 12.9078 14.6015 12.4155C14.7861 11.9379 14.915 11.3929 14.9502 10.5958C14.9854 9.79586 14.9941 9.54093 14.9941 7.5044C14.9941 5.46787 14.9854 5.21293 14.9502 4.41297C14.915 3.61594 14.7861 3.06798 14.6015 2.59328C14.4169 2.09514 14.1619 1.67611 13.7429 1.26001C13.3268 0.843915 12.9078 0.586052 12.4155 0.395585C11.9379 0.210979 11.3929 0.0820473 10.5958 0.0468842C9.79293 0.00879078 9.538 0 7.50147 0Z" fill="#69BFE7"/>
                            <path d="M7.50149 3.64817C5.37412 3.64817 3.64819 5.37409 3.64819 7.50146C3.64819 9.62883 5.37412 11.3548 7.50149 11.3548C9.62885 11.3548 11.3548 9.62883 11.3548 7.50146C11.3548 5.37409 9.62885 3.64817 7.50149 3.64817ZM7.50149 10.001C6.12133 10.001 5.00197 8.88161 5.00197 7.50146C5.00197 6.12131 6.12133 5.00195 7.50149 5.00195C8.88164 5.00195 10.001 6.12131 10.001 7.50146C10.001 8.88161 8.88164 10.001 7.50149 10.001Z" fill="#69BFE7"/>
                            <path d="M12.4067 3.49581C12.4067 3.99396 12.0023 4.3954 11.5071 4.3954C11.009 4.3954 10.6075 3.99103 10.6075 3.49581C10.6075 2.99767 11.0119 2.59622 11.5071 2.59622C12.0023 2.59622 12.4067 3.0006 12.4067 3.49581Z" fill="#69BFE7"/>
                        </svg>
                        | @uafashionexpo
            .header_contacts
                a(href="tel:+380930300707").flex-between.items-center
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
                        <path d="M16 13.2475C16 13.5175 15.9399 13.795 15.8122 14.065C15.6845 14.335 15.5193 14.59 15.3015 14.83C14.9334 15.235 14.5278 15.5275 14.0696 15.715C13.6189 15.9025 13.1307 16 12.6049 16C11.8388 16 11.02 15.82 10.1562 15.4525C9.29244 15.085 8.42864 14.59 7.57236 13.9675C6.70856 13.3375 5.88983 12.64 5.10866 11.8675C4.335 11.0875 3.63645 10.27 3.01302 9.415C2.3971 8.56 1.90135 7.705 1.54081 6.8575C1.18027 6.0025 1 5.185 1 4.405C1 3.895 1.09014 3.4075 1.27041 2.9575C1.45068 2.5 1.7361 2.08 2.1342 1.705C2.61492 1.2325 3.14071 1 3.69654 1C3.90686 1 4.11718 1.045 4.30496 1.135C4.50025 1.225 4.67301 1.36 4.80821 1.555L6.55083 4.0075C6.68603 4.195 6.78368 4.3675 6.85128 4.5325C6.91888 4.69 6.95644 4.8475 6.95644 4.99C6.95644 5.17 6.90386 5.35 6.7987 5.5225C6.70105 5.695 6.55834 5.875 6.37807 6.055L5.80721 6.6475C5.72459 6.73 5.68703 6.8275 5.68703 6.9475C5.68703 7.0075 5.69454 7.06 5.70956 7.12C5.7321 7.18 5.75463 7.225 5.76965 7.27C5.90486 7.5175 6.13771 7.84 6.4682 8.23C6.80621 8.62 7.16675 9.0175 7.55734 9.415C7.96294 9.8125 8.35353 10.18 8.75163 10.5175C9.14221 10.8475 9.4652 11.0725 9.72058 11.2075C9.75814 11.2225 9.8032 11.245 9.85578 11.2675C9.91587 11.29 9.97596 11.2975 10.0436 11.2975C10.1713 11.2975 10.2689 11.2525 10.3515 11.17L10.9224 10.6075C11.1102 10.42 11.2904 10.2775 11.4632 10.1875C11.636 10.0825 11.8087 10.03 11.9965 10.03C12.1392 10.03 12.2894 10.06 12.4547 10.1275C12.6199 10.195 12.7927 10.2925 12.9805 10.42L15.4667 12.1825C15.662 12.3175 15.7972 12.475 15.8798 12.6625C15.9549 12.85 16 13.0375 16 13.2475Z" stroke="#69BFE7" stroke-width="1.7" stroke-miterlimit="10"/>
                    </svg>
                    | +38 093 030 07 07
                a(href="https://www.instagram.com/uafashionexpo" target="blank").flex-between.items-center
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                        <path d="M7.50147 1.35085C9.50576 1.35085 9.74312 1.35964 10.5314 1.3948C11.2639 1.42704 11.6595 1.55011 11.9232 1.65267C12.2719 1.78746 12.5239 1.95155 12.7847 2.21235C13.0484 2.47607 13.2096 2.72514 13.3444 3.07384C13.447 3.33757 13.57 3.73608 13.6023 4.46572C13.6374 5.25689 13.6462 5.49424 13.6462 7.49561C13.6462 9.4999 13.6374 9.73726 13.6023 10.5255C13.57 11.2581 13.447 11.6536 13.3444 11.9174C13.2096 12.2661 13.0455 12.5181 12.7847 12.7789C12.521 13.0426 12.2719 13.2038 11.9232 13.3385C11.6595 13.4411 11.261 13.5642 10.5314 13.5964C9.74018 13.6316 9.50283 13.6404 7.50147 13.6404C5.49717 13.6404 5.25982 13.6316 4.47158 13.5964C3.73901 13.5642 3.34343 13.4411 3.0797 13.3385C2.731 13.2038 2.479 13.0397 2.21821 12.7789C1.95448 12.5151 1.79332 12.2661 1.65853 11.9174C1.55597 11.6536 1.4329 11.2551 1.40066 10.5255C1.3655 9.73432 1.35671 9.49697 1.35671 7.49561C1.35671 5.49131 1.3655 5.25396 1.40066 4.46572C1.4329 3.73315 1.55597 3.33757 1.65853 3.07384C1.79332 2.72514 1.95741 2.47314 2.21821 2.21235C2.48193 1.94862 2.731 1.78746 3.0797 1.65267C3.34343 1.55011 3.74194 1.42704 4.47158 1.3948C5.25982 1.35964 5.49717 1.35085 7.50147 1.35085ZM7.50147 0C5.46494 0 5.21 0.00879078 4.41004 0.0439539C3.61301 0.079117 3.06505 0.208048 2.59035 0.392655C2.09514 0.586052 1.67611 0.840985 1.26001 1.26001C0.840985 1.67611 0.586052 2.09514 0.392655 2.58742C0.208048 3.06505 0.079117 3.61008 0.0439539 4.40711C0.00879078 5.21 0 5.46493 0 7.50147C0 9.538 0.00879078 9.79293 0.0439539 10.5929C0.079117 11.3899 0.208048 11.9379 0.392655 12.4126C0.586052 12.9078 0.840985 13.3268 1.26001 13.7429C1.67611 14.159 2.09514 14.4169 2.58742 14.6073C3.06505 14.792 3.61008 14.9209 4.40711 14.956C5.20707 14.9912 5.462 15 7.49854 15C9.53507 15 9.79 14.9912 10.59 14.956C11.387 14.9209 11.9349 14.792 12.4097 14.6073C12.9019 14.4169 13.321 14.159 13.7371 13.7429C14.1532 13.3268 14.411 12.9078 14.6015 12.4155C14.7861 11.9379 14.915 11.3929 14.9502 10.5958C14.9854 9.79586 14.9941 9.54093 14.9941 7.5044C14.9941 5.46787 14.9854 5.21293 14.9502 4.41297C14.915 3.61594 14.7861 3.06798 14.6015 2.59328C14.4169 2.09514 14.1619 1.67611 13.7429 1.26001C13.3268 0.843915 12.9078 0.586052 12.4155 0.395585C11.9379 0.210979 11.3929 0.0820473 10.5958 0.0468842C9.79293 0.00879078 9.538 0 7.50147 0Z" fill="#69BFE7"/>
                        <path d="M7.50149 3.64817C5.37412 3.64817 3.64819 5.37409 3.64819 7.50146C3.64819 9.62883 5.37412 11.3548 7.50149 11.3548C9.62885 11.3548 11.3548 9.62883 11.3548 7.50146C11.3548 5.37409 9.62885 3.64817 7.50149 3.64817ZM7.50149 10.001C6.12133 10.001 5.00197 8.88161 5.00197 7.50146C5.00197 6.12131 6.12133 5.00195 7.50149 5.00195C8.88164 5.00195 10.001 6.12131 10.001 7.50146C10.001 8.88161 8.88164 10.001 7.50149 10.001Z" fill="#69BFE7"/>
                        <path d="M12.4067 3.49581C12.4067 3.99396 12.0023 4.3954 11.5071 4.3954C11.009 4.3954 10.6075 3.99103 10.6075 3.49581C10.6075 2.99767 11.0119 2.59622 11.5071 2.59622C12.0023 2.59622 12.4067 3.0006 12.4067 3.49581Z" fill="#69BFE7"/>
                    </svg>
                    | @uafashionexpo
                .burger          
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="19" viewBox="0 0 30 19" fill="none">
                        <rect width="30" height="3" rx="1.5" fill="#69BFE7"/>
                        <rect y="8" width="30" height="3" rx="1.5" fill="#69BFE7"/>
                        <rect y="16" width="30" height="3" rx="1.5" fill="#69BFE7"/>
                    </svg>
            