.description-info 
    .info-item
        a.readmore(href="#").flex-between.items-center
            span Коли відбудеться виставка?
            span.svg_btn 
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="11" viewBox="0 0 18 11" fill="none">
                    <path d="M1 1L9 9L17 1" stroke="#222222" stroke-width="2" stroke-linecap="round"/>
                </svg>
        .description-more#delivery
            div
                p Виставка відбудеться з 23 по 25 липня. Деталі та точний розклад можна знайти на нашому сайті або в Instagram.
    .info-item
        a.readmore.flex-between.items-center(href="#") 
            span Як зареєструватися для участі у виставці?
            span.svg_btn 
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="11" viewBox="0 0 18 11" fill="none">
                    <path d="M1 1L9 9L17 1" stroke="#222222" stroke-width="2" stroke-linecap="round"/>
                </svg>
        .description-more#obmin
            div
                p Для участі в виставці, будь ласка, заповніть реєстраційну форму на нашому сайті. Після підтвердження реєстрації ми надішлемо вам деталі щодо вашої участі та доступу.
    .info-item
        a.readmore.flex-between.items-center(href="#") 
            span  Чи можна відвідати виставку безкоштовно?
            span.svg_btn 
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="11" viewBox="0 0 18 11" fill="none">
                    <path d="M1 1L9 9L17 1" stroke="#222222" stroke-width="2" stroke-linecap="round"/>
                </svg>
        .description-more#spivpracia
            div
                p Так, ми надаємо безкоштовні запрошення для відвідувачів! Просто зареєструйтесь через наш сайт, і ми надішлемо вам запрошення для участі в події.
    .info-item
        a.readmore.flex-between.items-center(href="#") 
            span  Де знаходиться виставка?
            span.svg_btn 
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="11" viewBox="0 0 18 11" fill="none">
                    <path d="M1 1L9 9L17 1" stroke="#222222" stroke-width="2" stroke-linecap="round"/>
                </svg>
        .description-more#spivpracia
            div
                p Виставка проходитиме в новій локації у тихій частині Львова, на вулиці Стрийська, 199. Для вашої зручності є великий паркінг поблизу.
    .info-item
        a.readmore.flex-between.items-center(href="#") 
            span  Що буде представлено на виставці?
            span.svg_btn 
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="11" viewBox="0 0 18 11" fill="none">
                    <path d="M1 1L9 9L17 1" stroke="#222222" stroke-width="2" stroke-linecap="round"/>
                </svg>
        .description-more#spivpracia
            div
                p На виставці будуть представлені найкращі бренди верхнього одягу, нові колекції, а також можливість знайти нових постачальників, партнерів і перевірити якість продукції.