.footer
    padding: 50rem 0
    +media(768)
        display: flex
        gap: 30rem
        justify-content: space-between
    svg
        width: 20rem
        height: 20rem
    a
        color: $white
    h3
        padding-bottom: 25px
        font-size: 20px
        font-weight: 600
        text-transform: uppercase

.footer_info
    padding-bottom: 30px
    &:last-child
        text-align: right
        +media(768)
            width: 20vw
    +media(768)
        padding-bottom: 0
        width: 30vw
    p, a
        margin-bottom: 10rem
        column-gap: 10px
    
.adress 
    svg
        width: 30rem
        height: 30rem
.logo_footer
    padding-bottom: 50rem
    max-width: 70vw
    +media(768)
        max-width: 20vw
    img
        object-fit: cover
.privacy
    a
        display: inline-block
        text-decoration: underline
        margin-bottom: 10rem

.map
    position: relative
    min-height: 500rem
    border-radius: $radius
    overflow: hidden
    iframe
        position: absolute
        top: -72px
        left: 0
        border: none
        width: 100%
        height: 130%

.partners_bottom
    +media(768)
        border-top: 1px solid $black
        border-bottom: 1px solid $black
.col_2_partners
    h2
        padding: 30rem 0
        color: $blue
        +media(768)
            padding: 70rem 0
    +media(768)
        grid-template-columns: 20vw 60vw
.partner_col
    border-right: 1px solid $black
    grid-template-columns: repeat(3, 1fr)
    div
        display: flex
        align-items: center
        justify-content: center
        border-top: 1px solid $black
        border-left: 1px solid $white
        background-color: $black
        img
            display: inline-block
            max-height: 10vh
            padding: 5rem
            width: 100%
            height: 100%
            object-fit: contain
    +media(768)
        grid-template-columns: repeat(3, 1fr)
        border-left: 1px solid $black
.privacy_page
    padding-bottom: 70rem
    h1
        padding-bottom: 20rem
        font-size: 36px
        font-weight: 600
        text-align: center
    p
        padding-bottom: 20rem
        font-weight: 400