.footer
    padding: 50px 0
    a
        color: $white
        
    +media(768)
        grid-template-columns: repeat(4, 1fr)
    .menu_footer
        display: block
        a
            position: relative
            display: inline-block
            font-size: 12px
            text-align: left
            text-transform: uppercase
            +media(768)
                padding-bottom: 15px
            &::before
                content: ""
                position: absolute
                left: 0
                bottom: 5px
                width: 0
                height: 1px
                background-color: $white
                transition: all .5s ease
            &:hover
                text-shadow: 0 0 1px
                &::before
                    width: 100%
    h3
        padding-bottom: 30rem
        font-size: 18px
        font-weight: 500
        text-transform: uppercase
    .logo
        a
            justify-content: flex-start
            +media(768)
                justify-content: space-between
.contact_footer
    p
        margin-bottom: 20rem
    a
        transition: all .5 ease
        &:hover
            transform: scale(1.05)
.social_footer
    a
        transition: all .5 ease
        &:hover
            transform: scale(1.05)
.privacyPolice
    display: block
    font-size: 12px
    font-weight: 700
    text-decoration: underline
    padding: 30rem 0 13rem
